---
import "../styles/global.css";
import Logo from "../assets/white_full_logo.png";
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<title>Alvo</title>

		<meta property="og:title" content="Igreja Cristã Alvo" />
		<meta property="og:description" content="Igreja Cristã Alvo" />
		<meta property="og:image" content={Logo.src} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Roboto", sans-serif;
	}
</style>
